@import "tailwindcss";

/* Custom scrollbar styles */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
* {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  overflow-x: hidden;
}
.Poppins {
  font-family: "Poppins", sans-serif;
}
.Raleway {
  font-family: "Raleway", sans-serif;
}

.max-page-width {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  /* border: 2px solid blue; */
}
.Healthcoach{
  width: 130%;
}

/* Example media query, adjust as needed */
@media screen and (max-width: 640px) {
  .max-page-width {
    max-width: 100%;
    padding: 0 10px;
  }
  .Healthcoach {
    width: 100%;
  }
  .firstline{
    display: flex;
    flex-direction: row;
  }
  .input{
    width: 90%;
  }
  .date{
    display: none;
  }
  .premiumbanner{
    display: block;
  }
  .premiumbannertext{
    font-size: 12px;
  }
  .premium-btn{
    font-size: 12px;
  }
}